/* pantheon theme for sakura.css - https://github.com/bensku/sakura-themes */
$color-blossom: #964581;
$color-fade: #c474af;

$color-bg: #fff7fd;
$color-bg-alt: #ffedfa;

$color-text: #222222;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

@import "../node_modules/sakura.css/scss/_main.scss"